name: 自动触发 IP 更新

on:
 # schedule:
    # - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  trigger-update:
    runs-on: ubuntu-latest
    steps:
      - name: 发送更新请求
        env:
          CF_URL: ${{ secrets.CF_URL }}
          MY_TOKEN: ${{ secrets.TOKEN }}
        run: |
          curl -X POST "${CF_URL}/update" \
          -H "Authorization: Token ${MY_TOKEN}" \
          -H "Content-Type: application/json"
